body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    margin: 0;
}

.contenedor {
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.seccion {
    margin-bottom: 20px;
}

h1, h2 {
    color: #003366;
}

img {
    width: 150px;
    border-radius: 10px;
}

ul {
    padding-left: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #003366;
    color: white;
    padding: 10px;
}

td {
    border: 1px solid #ccc;
    padding: 8px;
}